body {
  padding: 0;
  margin: 0;
  font-family: "Zilla Slab", serif;
  color: #181611;
  font-weight: 300;
  font-size: 1.3em; }

.popup {
  background-color: #f4f5f2;
  position: absolute;
  -webkit-box-shadow: 4px 4px 30px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 4px 30px -2px rgba(0, 0, 0, 0.65);
  box-shadow: 4px 4px 30px -2px rgba(0, 0, 0, 0.65);
  color: #181611;
  border-radius: .2em; }
  .popup .closex {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #181611; }

.fade {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block; }

.recipe-wrapper .recipe-title {
  font-family: "Special Elite", serif;
  padding-bottom: .4em; }

.recipe-wrapper .ingredients-wrapper ul {
  list-style-type: square;
  padding: 0 1em; }
  .recipe-wrapper .ingredients-wrapper ul li {
    padding: .1em 0; }

.recipe-wrapper .recipe ol {
  padding: 0 1em; }
  .recipe-wrapper .recipe ol li {
    padding: 0.2em 0 0.2em 0;
    line-height: 1.5em; }

.button {
  background-color: #f69712;
  color: #f4f5f2;
  display: inline-block;
  padding: 0.7em 1.2em;
  margin: 1.5em 0;
  cursor: pointer;
  border-radius: .2em;
  font-weight: 700; }
  .button:hover {
    background-color: #d47500; }
  .button .fa {
    font-size: .75em;
    display: inline-block;
    padding: 0.2em 0 0 0.3em; }

@media (min-width: 1201px) {
  body {
    background-size: 100%;
    background-position: top right;
    background-image: url("orange-slices.jpeg"); }
    body .popup {
      padding: 1em 2em;
      height: 80%;
      width: 70%;
      margin: 1% 10%;
      z-index: 101; }
      body .popup #signature {
        height: 6em; }
    body .megawrapper {
      padding: 0;
      margin: 2% 40% 1% 5%; }
  .fade {
    height: 100%;
    width: 100%;
    z-index: 100; }
  .recipe-wrapper {
    font-size: .9em; }
    .recipe-wrapper .recipe-title {
      font-size: 2.2em; }
  #next-button {
    position: fixed;
    bottom: 10px;
    z-index: -1; } }

@media (max-width: 1200px) {
  body {
    background-size: 200%;
    background-position: top center;
    background-image: url("orange-slices-vertical.jpg"); }
    body .popup {
      font-size: .8em;
      padding: 0.75em 0.75em;
      margin: 0.25em 0.25em; }
      body .popup #signature {
        height: 4em; }
    body .megawrapper {
      padding: 1.5em;
      margin: .75em;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: .9em; }
  .fade {
    height: 200%;
    width: 200%; }
  .recipe-wrapper .recipe-title {
    font-size: 2.3em; } }
